<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PrimerParcial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" [routerLink]="['/altaRepartidor']">Alta repartidor</a>
          </li>
        </ul>
        @if(this.auth.getUser() == null)
        {
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-outline-danger btn-sm" type="button" href="login">Iniciar Sesión</a>
          </div>
        } @else{
          <button class="btn btn-danger btn-sm" type="button" (click)="CloseSession()">Cerrar Sesión</button>
        }
      </div>
    </div>
  </nav>
